<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List libraries used by Data Scientists
- Create a Jupyter Notebook

## Author
Yaswanth

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn

| Data Science Tools |
|--------------------|
| IBM Watson Studio  |
| IBM Open Scale     |
| Jupyter Notebook   |

### Below are a few examples of evaluating arithmetic expressions in Python
2+3=5,
2/2=1

In [ ]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [ ]:
print((3*4)+5)

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60
print(int(200/60))

3